:root {
	--color-dark: #dddddd;
	--color-light: #000000;
	--color-light-80: rgba(0, 0, 0, 0.8);
	--color-light-60: rgba(0, 0, 0, 0.6);
	--color-light-40: rgba(0, 0, 0, 0.4);
	--color-light-10: rgba(0, 0, 0, 0.2);
	--color-light-2: rgba(0, 0, 0, 0.02);
	--color-primary: #ff4c29;
	--color-error: red;
	--color-success: green;
	font-family: 'Proto Mono', monospace;
	color: var(--color-light);
}
