:root {
	/* --color-dark: #04060a; */
	--color-dark: #000000;
	--color-light: #ffffff;
	--color-light-80: rgba(255, 255, 255, 0.8);
	--color-light-60: rgba(255, 255, 255, 0.6);
	--color-light-40: rgba(255, 255, 255, 0.4);
	--color-light-20: rgba(255, 255, 255, 0.2);
	--color-light-10: rgba(255, 255, 255, 0.2);
	--color-light-2: #111111;
	--color-primary: #ffd369;
	--color-error: #ff6b69;
	--color-success: #78ff69;
	font-family: 'Proto Mono', monospace;
	color: var(--color-light);
}
