:root {
	--color-dark: #04060a;
	--color-light: #ffffff;
	--color-light-80: rgba(255, 255, 255, 0.8);
	--color-light-60: rgba(255, 255, 255, 0.6);
	--color-light-40: rgba(255, 255, 255, 0.4);
	--color-light-20: rgba(255, 255, 255, 0.2);
	--color-light-2: #101112;
	--color-primary: #ffd369;
	--color-error: red;
	--color-success: green;
	font-family: 'Proto Mono', monospace;
	color: var(--color-light);
}
