/* @font-face {
	font-family: 'Proto Mono';
	font-style: normal;
	font-weight: 400, 500, 600, 700;
	src: local(''), url('fonts/ProtoMono-Light.otf') format('otf'),
		url('fonts/ProtoMono-LightShadow.otf') format('otf'),
		url('fonts/ProtoMono-Medium.otf') format('otf'),
		url('fonts/ProtoMono-MediumShadow.otf') format('otf'),
		url('fonts/ProtoMono-SemiBold.otf') format('otf'),
		url('fonts/ProtoMono-SemiBoldShadow.otf') format('otf');
} */

.pace {
	-webkit-pointer-events: none;
	pointer-events: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.pace-inactive {
	display: none;
}

.pace .pace-progress {
	background: var(--color-primary);
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 100%;
	width: 100%;
	height: 1px;
}

:root {
	--toastBackground: var(--color-light-2);
	--toastBorder: 1px solid var(--color-light-10);
	--toastBarHeight: 2px;
	--toastMsgPadding: 12px;
	--toastMinHeight: 100%;
	--toastContainerTop: 36px;
	--toastContainerRight: 16px;
	--toastBoxShadow: none;
	--toastWidth: auto;
	--toastBarBackground: var(--color-primary);
	--toastBtnFont: 12px;
}

.toast-container {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	color: var(--color-primary);
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body::-webkit-scrollbar {
	display: none;
}

/* hide scrollbar but allow scrolling */
body {
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
	overflow-y: hidden;
	--svrollbar-track-width: 1px;
	/* --svrollbar-track-background: #85b4b9; */
	--svrollbar-track-opacity: 1;

	--svrollbar-thumb-width: 10px;
	--svrollbar-thumb-background: #d9ab55;
	--svrollbar-thumb-opacity: 1;
}

:root {
	--color-dark: #0a0f1a;
}
body {
	min-height: 100vh;
	min-width: 100vw;
	margin: 0;
	background-color: var(--color-dark);
	background-image: url('/assets/laser-grid.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	border-color: var(--color-light-10);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

section {
	display: flex;
	background-color: var(--color-dark);
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-light-10);
	box-sizing: border-box;
}

.border-all {
	display: flex;
	background-color: var(--color-dark);
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-light-10);
	box-sizing: border-box;
}

.border-bottom {
	display: flex;
	background-color: var(--color-dark);
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: var(--color-light-10);
	box-sizing: border-box;
}

p {
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 16px;
	margin: 0px;
	/* text-transform: uppercase; */
}

a {
	font-weight: 400;
	text-decoration: none;
	color: var(--color-light);
	cursor: pointer;
}

a:visited {
	text-decoration: none;
	color: none;
}

.semibold {
	font-weight: 600;
}

.yellow {
	color: var(--color-primary);
}
.green {
	color: var(--color-success);
}
.red {
	color: var(--color-error);
}

.light-40 {
	color: var(--color-light-40);
}
.light-60 {
	color: var(--color-light-60);
}
.light-80 {
	color: var(--color-light-80);
}
.light {
	color: var(--color-light);
}
.dark {
	color: var(--color-dark);
}

.body-text {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 13px;
	line-height: 20px;
}

.link {
	cursor: pointer;
}

.link:hover {
	background-color: var(--color-primary);
	color: var(--color-dark);
}

.link-frame {
	cursor: pointer;
}
.link-frame:hover {
	background-color: var(--color-light-2);
}

input {
	outline: none;
	border: none;
	background-image: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input {
	background-color: var(--color-dark);
	font-family: 'Ubuntu Mono', monospace;
	color: var(--color-light-80);
	padding: 8px;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-light-10);
	font-size: 13px;
	line-height: 16px;
}

textarea {
	background-color: var(--color-dark);
	font-family: 'Ubuntu Mono', monospace;
	color: var(--color-light-80);
	padding: 8px;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-light-10);
	font-size: 13px;
	line-height: 20px;
}

input:focus {
	border: none;
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-primary);
}

textarea:focus {
	outline: none;
	border: none;
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-primary);
}

input[type='number'].no-spinner::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

::placeholder {
	color: var(--color-light-20);
}

textarea::placeholder {
	color: var(--color-light-20);
}

::-moz-selection {
	color: var(--color-dark);
	background: var(--color-primary);
}

::selection {
	color: var(--color-dark);
	background: var(--color-primary);
}

button,
button:focus {
	outline: none;
	background: transparent;
	border: 1px solid transparent;
	font-family: 'Proto Mono', monospace;
	font-size: 13px;
	line-height: 16px;
	cursor: pointer;
	padding: 0px;
}

button:active {
	outline: none;
	background: transparent;
	border: 1px solid grey;
}

.spinner {
	position: absolute;
	transform: translateY(50%);
}

@keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes blinking {
	50% {
		opacity: 0;
	}
}

.rotating {
	-webkit-animation: rotating 3s linear infinite;
	animation: rotating 3s linear infinite;
}

.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-light-10);
	padding: 4px 8px;
	cursor: pointer;
	box-sizing: border-box;
}
.button:hover {
	background-color: var(--color-primary);
}
.button:hover p {
	color: var(--color-dark);
}
.ProseMirror p {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 13px;
	line-height: 20px;
	font-weight: 300;
	color: var(--color-light-80);
}
.ProseMirror h4 {
	font-family: 'Proto Mono', monospace;
	font-size: 13px;
	line-height: 24px;
	font-weight: 600;
	margin: 0px;
	color: var(--color-primary);
	padding: 4px 0px;
}
.ProseMirror ul {
	margin: 12px;
	padding: 4px 8px;
}
.ProseMirror {
	padding: 12px;
	outline-color: var(--color-light-20);
	outline-width: 1px;
	outline-style: solid;
	outline-offset: -1px;
	box-sizing: border-box;
	background-color: var(--color-dark);
	/* margin-top: 1px;
	margin-left: 1px; */
}
.ProseMirror-focused {
	outline-color: var(--color-primary);
	outline-style: solid;
}
.ProseMirror strong {
	color: var(--color-light);
	font-weight: 900;
}

.ProseMirror .button:hover {
	color: var(--color-light);
}
.description > p {
	color: var(--color-light-10);
}

.wrapper {
	-ms-overflow-style: none; /* for Internet Explorer, Edge */
	scrollbar-width: none; /* for Firefox */
}
.wrapper::-webkit-scrollbar {
	display: none;
}

.link-container {
	background-color: var(--color-dark);
}

.feed,
.network-tabs,
.networks-tab,
.tokens-table,
.payment-button,
.receipt,
.token-container,
.gallery-buttons,
.description-title,
.sticky-chosen {
	background-color: var(--color-dark);
}
