@font-face {
	font-family: 'Proto Mono';
	src: url('../fonts/ProtoMono-Light.otf') format('otf'),
		url('../fonts/ProtoMono-LightShadow.otf') format('otf'),
		url('../fonts/ProtoMono-Medium.otf') format('otf'),
		url('../fonts/ProtoMono-MediumShadow.otf') format('otf'),
		url('../fonts/ProtoMono-SemiBold.otf') format('otf'),
		url('../fonts/ProtoMono-SemiBoldShadow.otf') format('otf');
	font-weight: 400, 500, 600, 700;
}

:root {
	--color-dark: #070707;
	--color-light: #ffffff;
	--color-light-80: rgba(255, 255, 255, 0.8);
	--color-light-60: rgba(255, 255, 255, 0.6);
	--color-light-40: rgba(255, 255, 255, 0.4);
	--color-light-20: rgba(255, 255, 255, 0.2);
	--color-light-2: rgba(255, 255, 255, 0.02);
	--color-primary: #fcef50;
	--color-error: red;
	--color-success: green;
	font-family: 'Proto Mono', monospace;
	color: var(--color-light);
}

body {
	min-height: 100vh;
	min-width: 100vw;
	margin: 0;
	background-color: var(--color-dark);
	/* background-image: url('assets/bg.webp'); */
	background-size: 100vw 100vh;
	border-width: 0px 1px;
	border-style: solid;
	border-color: var(--color-light-20);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

section {
	display: flex;
	background-color: var(--color-dark);
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-light-20);
	box-sizing: border-box;
}

.border-all {
	display: flex;
	background-color: var(--color-dark);
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-light-20);
	box-sizing: border-box;
}

.border-bottom {
	display: flex;
	background-color: var(--color-dark);
	border-width: 0px 0px 1px 0px;
	border-style: solid;
	border-color: var(--color-light-20);
	box-sizing: border-box;
}

p {
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 16px;
	margin: 0px;
}

a {
	font-weight: 600;
	color: var(--color-primary);
	text-decoration: none;
	cursor: pointer;
}

a:visited {
	text-decoration: none;
}

.semibold {
	font-weight: 600;
}

.yellow {
	color: var(--color-primary);
}

.light-40 {
	color: var(--color-light-40);
}
.light-60 {
	color: var(--color-light-60);
}
.light-80 {
	color: var(--color-light-80);
}

.link {
	cursor: pointer;
}

.link:hover {
	color: var(--color-primary);
	text-shadow: 0px 0px 10px var(--color-primary);
}

input {
	outline: none;
	border: none;
	background-image: none;
	background-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input {
	background-color: var(--color-dark);
	font-family: 'Proto Mono', monospace;
	color: var(--color-light);
	padding: 8px;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-light-20);
	font-size: 12px;
	line-height: 16px;
	/* text-align: center; */
}

textarea {
	background-color: var(--color-dark);
	font-family: 'Proto Mono', monospace;
	color: var(--color-light);
	padding: 8px;
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-light-20);
	font-size: 12px;
	line-height: 16px;
	/* text-align: center; */
}

input:focus {
	border: none;
	border-width: 1px;
	border-style: solid;
	border-color: var(--color-primary);
}

input[type='number'].no-spinner::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

::placeholder {
	color: var(--color-light);
}

::-moz-selection {
	color: var(--color-dark);
	background: var(--color-primary);
}

::selection {
	color: var(--color-dark);
	background: var(--color-primary);
}

button,
button:focus {
	outline: none;
	background: transparent;
	border: 1px solid transparent;
	font-family: 'Proto Mono', monospace;
	cursor: pointer;
	padding: 0px;
}

button:active {
	outline: none;
	background: transparent;
	border: 1px solid grey;
}
